<div class="footer-one-bg py-5">
    <div class="container text-white text-center">
        <div class="row">
            <div class="col-4">
                <h2 class="text-uppercase">location</h2>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-4">
                <h2 class="text-uppercase">around the web</h2>
                <ul class="d-flex list-unstyled justify-content-center gap-2">
                    <li class="border rounded-circle border-white p-1">
                        <i class="fa fa-brands fa-facebook mx-1 icon"></i>
                    </li>
                    <li class="border rounded-circle border-white p-1">
                        <i class="fa fa-brands fa-twitter mx-1 icon"></i>
                    </li>
                    <li class="border rounded-circle border-white p-1">
                        <i class="fa fa-brands fa-linkedin mx-1 icon"></i>
                    </li>
                    <li class="border rounded-circle border-white p-1">
                        <i class="fa fa-solid fa-globe mx-1 icon"></i>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <h2 class="text-uppercase">about freelancer</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</div>
<div class="footer-two-bg py-3">
    <div class="container">
        <p class="text-white text-center">Copyright © Your Website 2021</p>
    </div>
</div>
