<div style="margin-top: 100px; min-height: calc(100vh - 120px);">
    <div class= "text-center pt-4" style="color: #2C3E50;">
        <h2 class="text-uppercase mb-3 fs-1 fw-bolder">
            start Framework
        </h2>
        <div class="d-flex align-items-center justify-content-center mb-3">
            <div class="line me-3" style="background-color: #2C3E50;"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line ms-3" style="background-color: #2C3E50;"></div>
        </div>
    </div>
    <form class="w-50 p-3 mx-auto mt-5">
        <input id="userName" type="text" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-4 position-relative">
        <input id="userAge" type="text" placeholder="userAge" name="userName" class="form-control border-0 border-bottom py-4 position-relative">
        <input id="userEmail" type="text" placeholder="userEmail" name="userName" class="form-control border-0 border-bottom py-4 position-relative">
        <input id="userPassword" type="text" placeholder="userPassword" name="userName" class="form-control border-0 border-bottom py-4 position-relative">
        <button class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button>
    </form>
</div>