    const verticalOffset = window.scrollY 
<nav id="nav-bar" class="navbar fixed-top navbar-expand-lg navbar-light navBg  px-3 py-4">
    <div class="container text-uppercase">
      <a class="navbar-brand fw-bold logo-size text-white" routerLink="">start frawework</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white fw-semibold" routerLinkActive="active rounded-3" routerLink="about">about</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link text-white fw-semibold" routerLinkActive="active rounded-3" routerLink="portfolio">portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-semibold" routerLinkActive="active rounded-3" routerLink="contact">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>